html, body .Blog{
	height: 100%;
	width: 100%;
}
body{
	background-color: #71ce7f;
}
.Blog{
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bodyDiv{
	border: 1px solid black;
}
.MarT-10{
	margin-top: 10px;
}
.ownerText{
	text-align: right;
}
.WhiteBackGround{
	background-color: white;
}